@model IEnumerable<SimpleVOD.Controllers.VideoNode>

<partial name="_BreadCrumb" model="Model?.FirstOrDefault()?.Parent" />

<ul>
    @foreach (var node in Model)
    {
        <li>
            <h2>
                <a asp-area="" asp-controller="Home" asp-action="Index" asp-route-id="@node.Id">@node.Title</a>
            </h2>
        </li>
    }
</ul>

